# variable_name = value

In [1]:
a = 1
b = 2

print(a + b)

3

In [2]:
name = "Sufyan Khan"

print(name)
print(type(name))
print(id(name))

Sufyan Khan
<class 'str'>
642937685040

In [3]:
a = 20

print(type(a))
print(id(a))

<class 'int'>
140732748305800

In [4]:
a = 2.0

print(type(a))
print(id(a))

<class 'float'>
642917825232

In [5]:
a = [1,2,3]

print(type(a))
print(id(a))

<class 'list'>
642837144768

In [6]:
a = {1,1,1,4,6,7,7,2,3}

print(type(a))
print(id(a))

<class 'set'>
642937609056

In [7]:
a = {"name":"Sufyan",
     "Education":"Engineering"}

print(type(a))
print(id(a))

<class 'dict'>
642937164224

In [8]:
a = "Sufyan"
print(a, type(a), id(a))

a = 5
print(a, type(a), id(a))

a = '5'
print(a, type(a), id(a))

a = 6.12
print(a, type(a), id(a))

a = '6.12'
print(a, type(a), id(a))

Sufyan <class 'str'> 642937585264
5 <class 'int'> 140732748305320
5 <class 'str'> 140732748348768
6.12 <class 'float'> 642937158896
6.12 <class 'str'> 642937820976

In [9]:
sufyan=1
sufyan=2

print(sufyan)

2

In [10]:
a = '1'
b = '2'

print(a + b)

12

In [11]:
a = 1
b = 2

print(a + b)

3

# Operators

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

## Arithmetic operators

In [13]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [14]:
print(2 + 7)
print(7 - 4)
print(4 * 3)
print(4 / 2)
print(17 % 3)

9
3
12
2.0
2

In [17]:
print(11 % 3)

2

In [19]:
print (2 ** 2)
print (4 ** 4)

4
256

# <img src="AssignmentOperators.png">

In [3]:
print (9/2)

4.5

In [9]:
print (9//2)

4

In [11]:
(9//2)

4

# Python Assignment Operators

In [15]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [31]:
b = 4
print (b)

4

In [33]:
b += 3
print (b)

10

# Python Comparison Operators

In [35]:
df[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [37]:
c = 7
d = 7

c == d

True

In [40]:
c = 7
d = 4

c == d

False

In [42]:
c = 7
d = 4

c > d

True

In [44]:
c = 7
d = 4

c < d

False

In [47]:
c = 3
d = 4

c >= d

False

In [50]:
c = 4
d = 4

c >= d

True

In [52]:
c = 4
d = 4

c != d

False

# Python Logical Operators

In [53]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [67]:
print (True and True and True and True)
print (True and True and True and False)
print (True and False and True and True)

True
False
False

In [70]:
print (True or True or True or True)
print (True or True or True or False)
print (True or False or True or True)
print (False or True or True or True)
print (False or False or False or False)

True
True
True
True
False