In [1]:
s1_name = "Rehan"
s2_name = "Farhan"
s3_name = "Fahad"
s4_name = "Sufyan"

print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

Rehan
Farhan
Fahad
Sufyan

# List Data Types

* Hetrogenous Data type
* Dynamic length
* Dynamic Memory management

## Syntax:

## ````[element1, element2, element3...]```

In [2]:
#  ->      0        1         2        3
names = ["Rehan", "Farhan", "Fahad", "Sufyan"]
#  ->     -4         -3          -2       -1            

names

['Rehan', 'Farhan', 'Fahad', 'Sufyan']

# Extract value from iterative data type with index position
## Syntax: list_varibale[index]

In [8]:
names = input("Please insert name with ',' seperation: ")

names.split(",")

Please insert name with ',' seperation: Rehan, Sufyan, Ahmed, Fahad

['Rehan', ' Sufyan', ' Ahmed', ' Fahad']

In [14]:
#  ->      0        1         2        3
names = ["Rehan", "Farhan", "Fahad", "Sufyan"]
#  ->     -4         -3          -2       -1            

print(names[1])
print (names[-3])

Farhan
Farhan

# Slicing on List

* Syntax : List_Variable[start:end:step]
* start = this number will be included
* end = excluded -1
* step = sequence/gap

In [1]:
alphabet = list("abcdefghijkl")

print (alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [20]:
a = list(range(1,19))

print (a)
print (a[1:2])
print (a[1:7])
print (a[::])
print (a[0:17:2])
print (a[0:17:3])

print (a[-2:-16:-1])
print (a[-2:-16:-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[2]
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 4, 7, 10, 13, 16]
[17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4]
[17, 15, 13, 11, 9, 7, 5]

In [33]:
import numpy as np

a = np.arange(1,101).reshape(10,10).tolist()
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [34]:
display(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [36]:
a[0:5:]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]]

In [37]:
[i[5:8] for i in a]

[[6, 7, 8],
 [16, 17, 18],
 [26, 27, 28],
 [36, 37, 38],
 [46, 47, 48],
 [56, 57, 58],
 [66, 67, 68],
 [76, 77, 78],
 [86, 87, 88],
 [96, 97, 98]]

## End Extra code

In [39]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
for i in "abcdef":
    print(i)

a
b
c
d
e
f

In [43]:
for i in ['hamza','asif','junaid']:
    print(i)

hamza
asif
junaid

In [44]:
[i for i in "abcdef"]

['a', 'b', 'c', 'd', 'e', 'f']

In [52]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
names = []
print(names)
names.append("Qasim")
print(names)
names.append("Asif")
print(names)
names.append("Hamza")
print(names)

[]
['Qasim']
['Qasim', 'Asif']
['Qasim', 'Asif', 'Hamza']

In [60]:
while True:
    name1 = input("Enter Student Name | X for exit")
    if name1 == "X" or name1 =="x":
        break
    names.append(name1)

names

Enter Student Name | X for exitRehan
Enter Student Name | X for exitAbid
Enter Student Name | X for exitFarhan
Enter Student Name | X for exitZohaib
Enter Student Name | X for exitx

['Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']

In [61]:
st_names = names # shallow copy
st_names

['Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']

In [63]:
st_names[0] = "Muhammad Qasim"
print(st_names)
print(names)

['Muhammad Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']
['Muhammad Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']

In [64]:
st_names1 = names.copy() # deep copy
st_names1

st_names1[0] = "Qasim"

print(names)
print(st_names1)

['Muhammad Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']
['Qasim', 'Asif', 'Hamza', 'Rehan', 'Abid', 'Farhan', 'Zohaib']