In [4]:
zoom = "Pakistan Zindabad"
print (zoom)
print (zoom)

Pakistan Zindabad
Pakistan Zindabad

In [8]:
zoom = "Pakistan Zindabad"
print (zoom)
print (type(zoom))
type (zoom)

Pakistan Zindabad
<class 'str'>

str

In [10]:
zoom = "Pakistan Zindabad 123 $$^7^%"
print (zoom)
print (type(zoom))
type (zoom)

Pakistan Zindabad 123 $$^7^%
<class 'str'>

str

In [13]:
zoom = "Pakistan Zindabad 123 $$^7^%" Hello world"
print (zoom)
print (type(zoom))
type (zoom)

SyntaxError: ignored

In [15]:
zoom = 'Pakistan Zindabad 123 $$^7^%   " Hello world'
print (zoom)
print (type(zoom))
type (zoom)

Pakistan Zindabad 123 $$^7^%   " Hello world
<class 'str'>

str

In [17]:
zoom = "Pakistan Zindabad 123 $$^7^%   '  Hello world"
print (zoom)
print (type(zoom))
type (zoom)

Pakistan Zindabad 123 $$^7^%   '  Hello world
<class 'str'>

str

In [18]:
zoom = "Pakistan Zindabad 123   "  $$^7^%   '  Hello world"
print (zoom)
print (type(zoom))
type (zoom)

SyntaxError: ignored

**Convert Special Character in Normal Character**
* Place \ before any special character

In [19]:
zoom = "Pakistan Zindabad 123   \"  $$^7^%   '  Hello world"
print (zoom)
print (type(zoom))
type (zoom)

Pakistan Zindabad 123   "  $$^7^%   '  Hello world
<class 'str'>

str

#Assign multi line string

In [21]:
a = "Line 1 My name is Habib"\
"Line 2 I am an engineer"\
"Line 3 I live in Karachi"

print (a)
print (type(a))

Line 1 My name is HabibLine 2 I am an engineerLine 3 I live in Karachi
<class 'str'>

In [22]:
a = "My name is Habib,"\
"I am an engineer,"\
"I live in Karachi"

print (a)
print (type(a))

My name is Habib,I am an engineer,I live in Karachi
<class 'str'>

In [23]:
a = """My name is Habib,"\
"I am an engineer,"\
"I live in Karachi"""

print (a)

My name is Habib,""I am an engineer,""I live in Karachi

In [25]:
a = """My name is Habib,"
"I am an engineer,"
"I live in Karachi"""

print (a)

My name is Habib,"
"I am an engineer,"
"I live in Karachi

In [26]:
a = """My name is Habib
I am an engineer
I live in Karachi"""

print (a)

My name is Habib
I am an engineer
I live in Karachi

In [28]:
a = """My name is Habib
I am an engineer
I live in Karachi"""

a

'My name is Habib\nI am an engineer\nI live in Karachi'

In [32]:
a = '''My name is Habib
I am an engineer
I live in Karachi'''

print (a)

My name is Habib
I am an engineer
I live in Karachi

# Concatenation & Text Formation

In [34]:
"2" + 3

TypeError: ignored

In [35]:
"2" + '3'

'23'

In [36]:
2 + 5

7

In [38]:
a = input('No 1:')
b = input('No 2:')
print (a+b)

No 1:24
No 2:23
2423

In [40]:
a = input('Name 1:')
b = input('Name 2:')
print (a+b)

Name 1:Habib ur Rehman
Name 2:Sufyan
Habib ur Rehman Sufyan

# Type Casting

In [43]:
a = "6"

print (a, type(a))

6 <class 'str'>

In [46]:
a = "6"
print (a, type(a))


a = int(6)
print (a, type(a))

a = float(6)
print (a, type(a))

6 <class 'str'>
6 <class 'int'>
6.0 <class 'float'>

In [47]:
a = input('No 1:')
b = input('No 2:')
print (int(a)+int(b))

No 1:24
No 2:25
49

In [48]:
a = input('No 1:')
b = input('No 2:')
print (int(a)/int(b))

No 1:9
No 2:2
4.5

In [50]:
1 + int("2")

3

In [54]:
"1" + str(2)

'12'

In [74]:

name = "Habib ur Rehman Sufyan"
roll_No = 184
University = "NED"

card = "Student Name:" + name + "\nStudnt Roll No:" + str(roll_No) + "\nUniversity Name:" + University


print (card)

Student Name:Habib ur Rehman Sufyan
Studnt Roll No:184
University Name:NED

In [79]:
card = """Student Name:\t\tHabib ur Rehman Sufyan
Studnt Roll No:\t\t184
University Name:\tNED"""

print (card)

Student Name:		Habib ur Rehman Sufyan
Studnt Roll No:		184
University Name:	NED

In [89]:
a = "Habib ur Rehman Sufyan"
b = 184

card = """Student Name:\t\t{}
Studnt Roll No:\t\t{}
University Name:\tNED""".format(a,b)
print (card)

Student Name:		Habib ur Rehman Sufyan
Studnt Roll No:		184
University Name:	NED

In [90]:
name = "Habib ur Rehman Sufyan"
roll_No = 184
University = "NED"

card = f"""Student Name:\t\t{name}
Studnt Roll No:\t\t{roll_No}
University Name:\t{University}"""

print (card)

Student Name:		Habib ur Rehman Sufyan
Studnt Roll No:		184
University Name:	NED

In [93]:
name = input("name:")
roll_No = input("roll-no:")
University = input("University:")

name:Habib
roll-no:84
University:NED

In [95]:
name = input("Name:")
roll_No = input("Roll_No:")
University = input("Univeristy Name:")

card = f"""Student Name:\t\t{name}
Studnt Roll No:\t\t{roll_No}
University Name:\t{University}"""

print (card)

Name:Sufyan
Roll_No:15
Univeristy Name:NED
Student Name:		Sufyan
Studnt Roll No:		15
University Name:	NED