In [2]:
a = "Pakistan Zindabad!"

print (type(a))
print (dir(a))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# All Methods/Function, attributes/properties/field of Strings

* method_name()
* attribute_name

## capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

In [6]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.capitalize())

Pakistan zindabad
i love my country.

In [8]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.casefold())

pakistan zindabad
i love my country.

In [18]:
b = "PakisTan ZinDabad"
b.center(38)

'          PakisTan ZinDabad           '

In [17]:
b = "PakisTan ZinDabad"

print (len(b))

17

In [20]:
b = "PakisTan ZinDabad"

print (b.__len__())

17

In [25]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.count("a"))

4

In [28]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.count("a") + b.count("u"))

5

In [29]:
b = """PakisTan ZinDabad
I loVe my Country."""

b.count("a") + b.count("u")

5

In [31]:
b = """PakisTan ZinDabad
I loVe my Country."""
b= (b.casefold())

print (b.count("a") + b.count("d"))

6

In [36]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.count("a") , b.count("u"))

4 1

In [26]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.encode())

b'PakisTan ZinDabad\nI loVe my Country.'

In [37]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [38]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [42]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.endswith("."))
print (b.endswith("try."))

True
True

In [43]:
b = """PakisTan ZinDabad
I loVe my Country."""

print (b.startswith("."))
print (b.startswith("Pak"))

False
True

In [45]:
card = """NED Univeristy
Batch 5
Name:\tHabib ur Rehman
Roll No:\t10065385"""


print (card)

NED Univeristy
Batch 5
Name:	Habib ur Rehman
Roll No:	10065385

In [46]:
card = """NED Univeristy
Batch 5
Name:\tHabib ur Rehman
Roll No:\t10065385"""


print (card.expandtabs(20))

NED Univeristy
Batch 5
Name:               Habib ur Rehman
Roll No:            10065385

In [58]:
b = "    Habib ur rehman   "
b.strip()

'Habib ur rehman'

In [56]:
b = "    Habib ur rehman   "
b.lstrip()

'Habib ur rehman   '

In [59]:
b = "    Habib ur rehman   "
b.rstrip()

'    Habib ur rehman'

In [60]:
b = "    Habib      ur     rehman   "
b.strip()

'Habib      ur     rehman'

In [66]:
b = """PakisTan ZinDabad.\
I loVe my Country."""

b.replace("PakisTan", "PakArmy")

'PakArmy ZinDabad.I loVe my Country.'

In [70]:
b = """PakisTan ZinDabad
I loVe my Country."""

b.find("Country.")

28

In [74]:
b = """PakisTan ZinDabad
I loVe my Country."""

b.find("ZinDabad")

9

In [102]:
text = """
Imran Haider2:26 PM
3130315904511
Muhammad Abubakar2:26 PM
42201-1270634-5
Aamir Pingal2:26 PM
423012945634
Talaal Yousoof2:26 PM
4220158211299
Ahmed Naseem2:26 PM
4200066399757
Muhammad Ovais2:26 PM
42101-4941-769-5
"""

import re
import pandas as pd

text = text.replace("-","")


cnic = re.findall('\d{13}',text)
cnic = list(set(cnic))
print(len(cnic))

df = pd.DataFrame({"CNIC":cnic})
df.to_excel("class attendance.xlsx", index=False)

df

5

            CNIC
0  3130315904511
1  4220112706345
2  4200066399757
3  4220158211299
4  4210149417695

In [150]:
text = """
Imran Haider2:26 PM
3130315904511
Muhammad Abubakar2:26 PM
42201-1270634-5
Aamir Pingal2:26 PM
423012945634
Talaal Yousoof2:26 PM
4220158211299
Ahmed Naseem2:26 PM
4200066399757
Muhammad Ovais2:26 PM
42101-4941-769-5
"""

import re

name = re.findall("(.*)\d+:\d+ PM",text)

name

['Imran Haider',
 'Muhammad Abubakar',
 'Aamir Pingal',
 'Talaal Yousoof',
 'Ahmed Naseem',
 'Muhammad Ovais']

In [151]:
text = """Imran Haider2:26 PM
3130315904511
Muhammad Abubakar2:26 PM
42201-1270634-5
Aamir Pingal2:26 PM
4230912945634
Talaal Yousoof2:26 PM
4220158211299
Ahmed Naseem2:26 PM
4200066399757
Muhammad Ovais2:26 PM
42101-4941-769-5
"""

import re
import pandas as pd

text = text.replace("-","")

name = re.findall("(.*)\d+:\d+ PM",text)
cnic = re.findall('\d{13}',text)

df = pd.DataFrame({"NAME":name,"CNIC":cnic})
df.to_excel("class3_attendance.xlsx", index=False)



df

                NAME           CNIC
0       Imran Haider  3130315904511
1  Muhammad Abubakar  4220112706345
2       Aamir Pingal  4230912945634
3     Talaal Yousoof  4220158211299
4       Ahmed Naseem  4200066399757
5     Muhammad Ovais  4210149417695

In [170]:
data = """

12:05:40 From Ali Asar To Everyone : PIAIC-187258
12:05:41 From Hasnain Munir To Everyone : PIAIC-187272
12:05:44 From Shaheer Baig To Everyone : PIAIC-169519
12:05:45 From Humera Naz To Everyone : PIAIC-173431
12:05:47 From Sadia Anwar To Everyone : PIAIC-180028
12:05:47 From Muhammad Mehroz To Everyone : PIAIC-131496
12:05:47 From Home To Everyone : PIAIC-172998
12:05:47 From Muhammad Sadullah = PIAIC-178950 To Everyone : PIAIC-178950
12:05:48 From Muhammad Uzair-177637 To Everyone : PIAIC-177637
12:05:48 From Taqwa Khaliq To Everyone : PIAIC-173701 TAQWA KHALIQ
12:05:48 From asghar ibraheem CNC-012105 To Everyone : CNC-012105
12:05:49 From Faisal Bashir-177802 To Everyone : PIAIC-177802
12:05:50 From Talha Munir Rana To Everyone : PIAIC-173761
12:05:52 From Abdul Qadar To Everyone : PIAIC-172941
12:05:57 From Dr. Bhagwan Das To Everyone : PIAIC-96879
12:05:57 From Uzair Ullah (PIAIC169405) To Everyone : PIAIC-169405
12:06:00 From Arshad To Everyone : PIAIC168092
12:06:01 From PIAIC188523 Subhan Ahmed To Everyone : PIAIC188523
12:06:04 From Taqwa Khaliq To Everyone : PIAIC 173701
12:06:10 From Ali Asar To Everyone : PIAIC-188720
12:06:23 From Mohammad Javed To Everyone : WhatsApp number?
12:06:28 From Gulshan Ali To Everyone : PIAIC-176719
12:06:29 From M Ali Asif Khan - PIAIC-57947 To Everyone : PIAIC-57947
12:06:33 From Usman Noor PIAIC-188401 To Everyone : PIAIC-188401
12:06:46 From Zia (piaic121514) To Everyone : thanks
12:06:49 From Sohaib Baseer Ahmad To Everyone : PIAIC67260
12:40:20 From Ali Asar To Everyone : PIAIC-187258

"""

import re


d = re.findall("(\d{2}:\d{2}:\d{2}) From (.*?) To Everyone : (PIAIC-?\d{5,6})", data)

d = pd.DataFrame(d,columns=["Time","Name","Roll No"])

d

        Time                              Name       Roll No
0   12:05:40                          Ali Asar  PIAIC-187258
1   12:05:41                     Hasnain Munir  PIAIC-187272
2   12:05:44                      Shaheer Baig  PIAIC-169519
3   12:05:45                        Humera Naz  PIAIC-173431
4   12:05:47                       Sadia Anwar  PIAIC-180028
5   12:05:47                   Muhammad Mehroz  PIAIC-131496
6   12:05:47                              Home  PIAIC-172998
7   12:05:47  Muhammad Sadullah = PIAIC-178950  PIAIC-178950
8   12:05:48             Muhammad Uzair-177637  PIAIC-177637
9   12:05:48                      Taqwa Khaliq  PIAIC-173701
10  12:05:49              Faisal Bashir-177802  PIAIC-177802
11  12:05:50                  Talha Munir Rana  PIAIC-173761
12  12:05:52                       Abdul Qadar  PIAIC-172941
13  12:05:57                   Dr. Bhagwan Das   PIAIC-96879
14  12:05:57         Uzair Ullah (PIAIC169405)  PIAIC-169405
15  12:06:00                            Arshad   PIAIC168092
16  12:06:01          PIAIC188523 Subhan Ahmed   PIAIC188523
17  12:06:10                          Ali Asar  PIAIC-188720
18  12:06:28                       Gulshan Ali  PIAIC-176719
19  12:06:29     M Ali Asif Khan - PIAIC-57947   PIAIC-57947
20  12:06:33           Usman Noor PIAIC-188401  PIAIC-188401
21  12:06:49               Sohaib Baseer Ahmad    PIAIC67260
22  12:40:20                          Ali Asar  PIAIC-187258